/* float布局 */
@media screen and (max-width:768px){
}
#recent-posts>.recent-post-item>.recent-post-info{
    float:right !important;
    width:198px !important;
    margin-top:28px !important;
}
#recent-posts>.recent-post-item .post_cover{
    width:150px !important;
    height:150px !important;
    float:left !important;
}
#recent-posts>.recent-post-item .post_cover{
    width:44% !important;
    height:100% !important;
}
#recent-posts>.recent-post-item>.recent-post-info>.article-title{
    -webkit-line-clamp:1 !important;
    margin-top:-4px !important;
    margin-left:-150px !important;
    padding-top: 15px !important;
    margin-bottom:0.3rem !important;
    color:var(--text-highlight-color) !important;
    font-size:1.1em !important;
    line-height:1.4 !important;
    font-weight:bold !important;
}
#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap{
    margin-bottom:1rem !important;
    margin-left:-90px !important;
}
#card-info-btn{
  overflow:hidden;
}
#rightside>div>button,#to_comment{
  margin-right:1px;
}
#recent-posts{
  margin-top:0px!important;
  align-content:flex-start!important;
  display:flex!important;
  flex-wrap:wrap!important;
  justify-content:space-between!important;
}
#recent-posts>.recent-post-item{
  margin-top:1rem;
  display:inline-block;
  height:auto;
  width:49%;
}
#recent-posts>.recent-post-item .post_cover{
  width:150px;
  height:150px;
  float:left;
}
#recent-posts>.recent-post-item>.recent-post-info>.content{
  display:none;
}
#recent-posts>.recent-post-item{
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}