#swiper_container_blog{
    width:57%;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
    -ms-transition:all .3s;
    transition:all .3s;
    border-radius:12px
}
div#swiper_container{
    transition:.3s
}
#swiper_container{
    overflow:hidden
}
div.swiper_container_card{
    margin:1rem auto 0
}
div#swiper_container{
    background:rgba(255,255,255,0);
    width:100%;
    padding:0;
    overflow:initial;
    background:var(--card-bg);
    border-radius:12px;
    border:var(--style-border)
}
.blog-slider{
    width:100%;
    position:relative;
    border-radius:12px 8px 8px 12px;
    margin:0 auto
}
.blog-slider__item{
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    -webkit-box-align:center;
    -moz-box-align:center;
    -o-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center
}
.blog-slider__item.swiper-slide-active .blog-slider__img img{
    opacity:1;
    -ms-filter:none;
    filter:none;
    -webkit-transition-delay:.3s;
    -moz-transition-delay:.3s;
    -o-transition-delay:.3s;
    -ms-transition-delay:.3s;
    transition-delay:.3s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>*{
    opacity:1;
    -ms-filter:none;
    filter:none;
    -webkit-transform:none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform:none
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(1){
    -webkit-transition-delay:.3s;
    -moz-transition-delay:.3s;
    -o-transition-delay:.3s;
    -ms-transition-delay:.3s;
    transition-delay:.3s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(2){
    -webkit-transition-delay:.4s;
    -moz-transition-delay:.4s;
    -o-transition-delay:.4s;
    -ms-transition-delay:.4s;
    transition-delay:.4s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(3){
    -webkit-transition-delay:.5s;
    -moz-transition-delay:.5s;
    -o-transition-delay:.5s;
    -ms-transition-delay:.5s;
    transition-delay:.5s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(4){
    -webkit-transition-delay:.6s;
    -moz-transition-delay:.6s;
    -o-transition-delay:.6s;
    -ms-transition-delay:.6s;
    transition-delay:.6s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(5){
    -webkit-transition-delay:.7s;
    -moz-transition-delay:.7s;
    -o-transition-delay:.7s;
    -ms-transition-delay:.7s;
    transition-delay:.7s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(6){
    -webkit-transition-delay:.8s;
    -moz-transition-delay:.8s;
    -o-transition-delay:.8s;
    -ms-transition-delay:.8s;
    transition-delay:.8s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(7){
    -webkit-transition-delay:.9s;
    -moz-transition-delay:.9s;
    -o-transition-delay:.9s;
    -ms-transition-delay:.9s;
    transition-delay:.9s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(8){
    -webkit-transition-delay:1s;
    -moz-transition-delay:1s;
    -o-transition-delay:1s;
    -ms-transition-delay:1s;
    transition-delay:1s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(9){
    -webkit-transition-delay:1.1s;
    -moz-transition-delay:1.1s;
    -o-transition-delay:1.1s;
    -ms-transition-delay:1.1s;
    transition-delay:1.1s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(10){
    -webkit-transition-delay:1.2s;
    -moz-transition-delay:1.2s;
    -o-transition-delay:1.2s;
    -ms-transition-delay:1.2s;
    transition-delay:1.2s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(11){
    -webkit-transition-delay:1.3s;
    -moz-transition-delay:1.3s;
    -o-transition-delay:1.3s;
    -ms-transition-delay:1.3s;
    transition-delay:1.3s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(12){
    -webkit-transition-delay:1.4s;
    -moz-transition-delay:1.4s;
    -o-transition-delay:1.4s;
    -ms-transition-delay:1.4s;
    transition-delay:1.4s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(13){
    -webkit-transition-delay:1.5s;
    -moz-transition-delay:1.5s;
    -o-transition-delay:1.5s;
    -ms-transition-delay:1.5s;
    transition-delay:1.5s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(14){
    -webkit-transition-delay:1.6s;
    -moz-transition-delay:1.6s;
    -o-transition-delay:1.6s;
    -ms-transition-delay:1.6s;
    transition-delay:1.6s
}
.blog-slider__item.swiper-slide-active .blog-slider__content>:nth-child(15){
    -webkit-transition-delay:1.7s;
    -moz-transition-delay:1.7s;
    -o-transition-delay:1.7s;
    -ms-transition-delay:1.7s;
    transition-delay:1.7s
}
.blog-slider__img{
    width:200px;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    height:200px;
    padding:10px;
    border-radius:5px;
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -o-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0);
    overflow:hidden
}
.blog-slider__img:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:5px;
    opacity:.8
}
.blog-slider__img img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    opacity:0;
    border-radius:5px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
    -ms-transition:all .3s;
    transition:all .3s
}
.blog-slider__content{
    padding-right:50px;
    padding-left:50px
}
.blog-slider__content>*{
    opacity:0;
    -webkit-transform:translateY(25px);
    -moz-transform:translateY(25px);
    -o-transform:translateY(25px);
    -ms-transform:translateY(25px);
    transform:translateY(25px);
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -o-transition:all .4s;
    -ms-transition:all .4s;
    transition:all .4s
}
.blog-slider__code{
    color:var(--font-color);
    margin-bottom:0;
    display:block;
    font-weight:500
}
.blog-slider__title{
    font-size:18px;
    font-weight:700;
    color:var(--font-color);
    margin-bottom:15px;
    -webkit-line-clamp:1;
    display:-webkit-box;
    overflow:hidden;
    -webkit-box-orient:vertical
}
.blog-slider__text{
    color:var(--font-color);
    -webkit-line-clamp:1;
    display:-webkit-box;
    overflow:hidden;
    -webkit-box-orient:vertical;
    margin-bottom:15px;
    line-height:1.5em;
    width:100%;
    display:block;
    word-break:break-all;
    word-wrap:break-word
}
.blog-slider__button{
    display:-webkit-inline-box;
    display:-moz-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-box;
    display:inline-flex;
    background-color:var(--btn-bg);
    padding:4px 14px;
    border-radius:8px;
    color:var(--btn-color);
    text-decoration:none;
    font-weight:500;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    -o-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    text-align:center;
    letter-spacing:1px;
    display:none
}
.blog-slider__button:hover{
    background-color:var(--btn-hover-color);
    color:var(--btn-color)
}
.blog-slider .swiper-container-horizontal>.swiper-pagination-bullets,.blog-slider .swiper-pagination-custom,.blog-slider .swiper-pagination-fraction{
    bottom:10px;
    left:0;
    width:100%
}
.blog-slider__pagination{
    position:absolute;
    z-index:21;
    right:20px;
    width:11px!important;
    text-align:center;
    left:auto!important;
    top:50%;
    bottom:auto!important;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:8px 0
}
.blog-slider__pagination .swiper-pagination-bullet{
    width:11px;
    height:11px;
    display:block;
    border-radius:10px;
    background:#858585;
    opacity:.2;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
    -ms-transition:all .3s;
    transition:all .3s
}
.blog-slider__pagination .swiper-pagination-bullet-active{
    opacity:1;
    -ms-filter:none;
    filter:none;
    background:var(--btn-bg);
    height:30px
}
    .blog-slider__pagination{
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        transform:translateX(-50%);
        left:50%!important;
        top:320px;
        width:100%!important;
        display:-webkit-box;
        display:-moz-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:box;
        display:flex;
        -webkit-box-pack:center;
        -moz-box-pack:center;
        -o-box-pack:center;
        -ms-flex-pack:center;
        -webkit-justify-content:center;
        justify-content:center;
        -webkit-box-align:center;
        -moz-box-align:center;
        -o-box-align:center;
        -ms-flex-align:center;
        -webkit-align-items:center;
        align-items:center
    }
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet{
        margin:0 5px
    }
    .blog-slider__pagination .swiper-pagination-bullet-active{
        height:11px;
        width:30px
    }
    .blog-slider__button{
        display:-webkit-inline-box;
        display:-moz-inline-box;
        display:-webkit-inline-flex;
        display:-ms-inline-flexbox;
        display:inline-box;
        display:inline-flex;
        width:100%
    }
    .blog-slider__text{
        margin-bottom:40px
    }
    .blog-slider{
        min-height:350px;
        height:auto;
        margin-top:110px;
        margin-bottom:10px
    }
    .blog-slider__content{
        margin-top:-80px;
        text-align:center;
        padding:0 30px
    }
    .blog-slider__item{
        -webkit-box-orient:vertical;
        -moz-box-orient:vertical;
        -o-box-orient:vertical;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .blog-slider__img{
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        width:90%
    }
    .blog-slider__content{
        padding-left:10px;
        padding-right:10px
    }
    .blog-slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets{
        top:110px
    }
    #swiper_container_blog{
        padding:10px;
        background:var(--global-bg);
        border:var(--style-border)
    }
    .swiper_container_card #swiper_container_blog div#swiper_container.blog-slider{
        border:none
    }
}
@media screen and (min-width:768px){
    .blog-slider{
        height:200px
    }
    .blog-slider__img{
        height:200px
    }
}
#random{
    border-radius:8px;
    font-family:ZhuZiAYuanJWD;
    background-size:cover;
    color:var(--marcus-white);
    font-size:44px;
    position:relative;
    border-radius:8px;
    margin-bottom:.9rem;
    display:flex;
    width:100%;
    height:76%;
    background:var(--marcus-card-bg);
    margin-bottom:.5rem;
    border:var(--style-border);
    border-radius:12px;
    overflow:hidden;
    position:relative;
    box-shadow:var(--marcus-shadow-border);
    flex-direction:column;
    overflow:hidden;
    transition:.3s;
    clip-path:inset(0 0 0 0 round 12px)
}
#random-banner{
    height:100%!important;
    width:100%!important;
    border-radius:8px;
    display:flex
}
#random-banner canvas{
    width:100%
}
#random-hover{
    opacity:0;
    padding-left:0;
    position:absolute;
    left:0;
    top:0;
    height:100%!important;
    color:#0000;
    border-radius:8px;
    transition:cubic-bezier(.71,.15,.16,1.15) .6s
}
#random-hover:hover{
    padding-left:1rem;
    opacity:1;
    color:#fff;
    background-color:#425aefdd;
    backdrop-filter:blur(10px) saturate(180%);
    -webkit-backdrop-filter:blur(10px) saturate(180%);
    transition:.3s;
    background-size:200%;
    cursor:pointer
}
@media screen and (max-width:1050px){
    #random{
        display:none
    }
    div#swiper_container{
        width:100%
    }
}
@media screen and (max-width:1300px){
    div#bannerGroup{
        display:none!important
    }
    #swiper_container_blog{
        width:100%
    }
    .topGroup .top-group-list-item{
        width:calc(100% / 4 - 20px)!important
    }
}
@media screen and (max-width:765px){
    .topGroup .top-group-list-item{
        width:calc(100% / 4 - 5px)!important
    }
}
.swiper_container_card{
    display:flex!important;
    justify-content:space-around;
    flex-direction:row!important
}
div#bannerGroup{
    width:calc(100% - 600px - 2rem);
    margin-right:.5rem;
    height:338px;
    display:flex;
    flex-direction:column;
    justify-content:space-between
}
.topGroup{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:10px;
    height:128px;
    align-content:space-between;
    width:100%
}
.topGroup .top-group-list-item{
    display:flex;
    width:calc(100% / 4 - 5px);
    flex-direction:column;
    align-items:flex-start;
    background:var(--marcus-card-bg);
    border-radius:12px;
    overflow:hidden;
    height:128px;
    max-height:128px;
    border:var(--style-border-always);
    transition:.3s;
    box-shadow:var(--marcus-shadow-border)
}
#topGroup .topGroup .post_cover{
    width:100%
}
.topGroup .post_cover img{
    object-fit:cover;
    width:100%;
    height:80px;
    background:var(--marcus-secondbg);
    border-radius:12px 12px 0 0
}
.topGroup .top-group-list-item .post_cover a{
    height:80px;
    overflow:hidden;
    display:flex
}
span.top-group-text{
    position:absolute;
    top:0;
    left:-40px;
    display:flex;
    z-index:1;
    background:var(--marcus-theme);
    color:var(--marcus-white);
    padding:2px 8px;
    font-size:.6rem;
    border-radius:12px 0 12px 0;
    transition:.3s;
    cursor:pointer
}
.top-group-list-item:hover span.top-group-text{
    left:0
}
.topGroup .top-group-list-item .top-group-info{
    padding:.3rem .5rem .3rem .5rem!important;
    transition:.3s
}
.topGroup .top-group-list-item .top-group-info .article-title{
    -webkit-line-clamp:2;
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    line-height:1.5;
    justify-content:center;
    align-items:flex-end;
    align-content:center;
    padding-top:.5rem;
    font-weight:700;
    font-size:.8rem!important;
    padding:0!important
}
.topGroup .top-group-list-item:hover{
    border:var(--style-border-hover);
    box-shadow:var(--marcus-shadow-main);
    transform:scale(1.03)
}
.topGroup .top-group-list-item:hover .article-title{
    color:var(--marcus-theme)
}
.top-group-list-none{
    width:calc(100% / 4 - 5px)
}
#random #random-banner #skills-style-group-all .tags-group-wrapper{
    display:flex!important;
    margin-top:-3rem!important;
    flex-wrap:nowrap!important;
    animation:rowup 60s linear infinite!important
}
#random #random-banner #skills-style-group-all{
    transform:rotate(-30deg)!important
}
.banners-title{
    top:2.9rem;
    left:20px;
    position:absolute;
    display:flex;
    flex-direction:column;
}
.banners-title-big{
    font-size:36px;
    line-height:1;
    font-weight:700;
    margin-bottom:8px
}
.banners-title-small{
    font-size:12px;
    line-height:1;
    color:var(--marcus-secondtext);
    margin-top:8px;
    margin-bottom:.5rem
}
