#console
  .close-btn(onclick='heo.hideConsole()')
    i.fas.fa-circle-xmark
  .console-webinfo
    .console-webinfo-card
      include widget/card_webinfo.pug
  .button-group
    .console-btn-item
      a.darkmode_switchbutton(onclick='toRandomPost()',title='随机文章')
        i.fas.fa-shuffle.fa-beat(style='font-size: 1rem;')
    .console-btn-item
      a.assist-btn(href="https://travellings.cn/go.html",title='友链接力')
        i.fas.fa-bus.fa-beat(style='font-size: 1rem;')
    .console-btn-item
      a.assist-btn(onclick="btf.scrollToDest(0,500), heo.hideConsole()")
        i.fas.fa-arrows-up-to-line.fa-beat(style='font-size: 1rem;')
  .console-mask