#console
  .close-btn(onclick='heo.hideConsole()')
    i.fas.fa-circle-xmark
  .button-group
    .console-btn-item 
      a.darkmode_switchbutton(onclick='toRandomPost()',title='随机文章')
        i.fas.fa-shuffle(style='font-size: 1rem;')
    #assist-open.console-btn-item(href="https://travellings.cn/go.html",title='友链接力')
      a.assist-btn
        i.fas.fa-bus
  .console-mask