#tag-bar
  .tag-bar-items#tag-bar-items
    .tag-bar-item(id='首页')
      a(href="/") 首页
    !=getarray_bar("tag")
  a.tag-bar-more(href="/tags/") 更多标签

//- #category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='首页')
            a(href="/") 首页
        .category-bar-item(id='hexo')
            a(href="/tags/hexo/") hexo
        .category-bar-item(id='教程')
            a(href="/tagss/教程/") 教程
        .category-bar-item(id='Ecx-UI')
            a(href="/tags/Ecx-UI/") Ecx-UI
        .category-bar-item(id='魔改')
            a(href="/tags/魔改/") 魔改
        .category-bar-item(id='butterfly')
            a(href="/tags/butterfly/") butterfly
        .category-bar-item(id='碎碎念')
            a(href="/tags/碎碎念/") 碎碎念
        .category-bar-item(id='前端')
            a(href="/tags/前端/") 前端
        .category-bar-item(id='linux')
            a(href="/tags/linux/") linux
        .category-bar-item(id='优化')
            a(href="/tags/优化/") 优化
        .category-bar-item(id='FAQ')
            a(href="/tags/FAQ/") FAQ
        .category-bar-item(id='域名')
            a(href="/tags/域名/") 捣鼓域名（？
        .category-bar-item(id='windows')
            a(href="/tags/windows/") windows
        .category-bar-item(id='美化')
            a(href="/tags/美化/") 美化
        .category-bar-item(id='生活')
            a(href="/tags/生活/") 生活
    a.category-bar-more(href="/tags/") 更多标签