#sidebar
  #menu-mask
    position: fixed
    z-index: 102
    display: none
    width: 100%
    height: 100%
    background: #ffffff7a
    backdrop-filter: saturate(100%) blur(10px);
    -webkit-backdrop-filter: blur(10px);

  #sidebar-menus
    position: fixed
    top: 0
    right: -310px
    z-index: 103
    overflow-x: hidden
    overflow-y: auto
    width: $sidebar-width
    height: 100%
    box-shadow: 0 0 10px 5px #5c5c5c
    transition: all .5s

    &.open
      transform: translate3d(-100%, 0, 0)

    & > .avatar-img
      margin: 20px auto

    .sidebar-site-data
      padding: 0 10px

    hr
      margin: 20px auto

    .menus_items
      padding: 0 10px 40px

      .site-page
        @extend .limit-one-line
        position: relative
        display: block
        padding: 6px 30px 6px 22px
        color: var(--font-color)
        font-size: 1.15em

        &:hover
          background: var(--text-bg-hover)

        i:first-child
          width: 15%
          text-align: left

        &.group
          & > i:last-child
            position: absolute
            top: .78em
            right: 18px
            transition: transform .3s

          &.hide
            & > i:last-child
              transform: rotate(90deg)

            & + .menus_item_child
              display: none

      .menus_item_child
        margin: 0
        list-style: none