span.p.center.logo.large
    font-size 2.5rem
    text-align center
    display block

span.p.center.small
    text-align center
    display block
    font-size 1rem

span.p.red
    color #fe5f58

span.p.yellow
    color #ffbd2b

span.p.green
    color #3dc550

span.p.cyan
    color #1bcdfc

span.p.blue
    color #2196f3

span.p.gray
    color #999